.site-content {
  padding: 1em;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $query__small) {
    padding: 2em;
  }
}

.content-area {
  flex: 1;
  display: flex;
  justify-content: center;
}

.site-content .widget-area, .site-main {
  flex: 1;
}

.page_item {
  padding: 10px;
}
