.site-content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $query__small) {
  }
}

.content-area {
  flex: 1;
  display: flex;
  justify-content: center;
}

.site-content .widget-area {
  flex: 1;
}

.site-main {
  flex: 0.8;
}

.page_item {
  padding: 10px;
}

.l-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: $query__small) {
    flex-direction: row;
  }
}

.l-col-3 {
  width: 100%;
  @media screen and (min-width: $query__small) {
    width: 33.333%;
  }
}
