.site-footer {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 1em;
	padding-top: 10%;
	background: url(/wp-content/uploads/2017/11/triangle-bottom.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	.site-info p {
		font-size: ms(-1);
		text-transform: uppercase;
		font-weight: 800;
	}
}

.social-links-menu {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 1em 0em;
	li {
		list-style-type: none;
		text-decoration: none;
	}
	svg {
		height: ms(1);
    width: ms(1);
	}
	a {
		transition: all 0.3s ease;
		text-decoration: none;
		display: flex;
    flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: .1em 1em;
		width: 60px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
		.social-links-menu--hidden-text {
			display: none;
		}
		@media screen and (min-width: $query__medium) {
			&:hover {
				width: 150px;
			}
			&:hover .social-links-menu--hidden-text {
				display: inline;
			}
		.social-links-menu--hidden-text {
			display: none;
			padding-left: 1em;
			text-transform: uppercase;
			font-size: ms(-3);
			letter-spacing: 0.15rem;
			}
		}
	}
}
