html,
body,
.site,
.site-header {
	height: 100%;
}

.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__main;
	color: $color__text-header;
	display: flex;
  justify-content: space-between;
  align-items: center;
	flex-direction: column;
	background: linear-gradient(to bottom, rgba(93,65,87,1) 0%, rgba(168,202,186,1) 100%);

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	min-height: 65px;
	height: 80%;
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.site-title {
	margin: 0;
	padding: 0;
	line-height: 200%;

	a {
		color: $color__text-header;
		text-decoration: none;
		font-size: ms(3)
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 200;
  font-size: ms(0);
}

.site-header__menus {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

#masthead-menu {
	display: flex;
	flex-direction: column;
	li {
		list-style-type: none;
	}
}

.social-links-menu {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	li {
		list-style-type: none;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		display: block;
		padding: .1em .5em;
		&:hover,
		&:focus {
			border-bottom: 2px solid $color__link;
		}
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		flex-direction: column;
	}

  .site-branding {
    width: 35%;
  }

  .site-navigation {
    width: 55%;
  }

	#masthead-menu {
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex: 1 0 33.333%;
		  box-sizing: border-box;
		  padding: 10px;
		}
	}
	.site-header__menus {
		flex-direction: row;
		align-items: flex-end;
	}
}
