html,
body,
.site {
	height: 100%;
}

body {
	background: linear-gradient(to bottom, rgba(93,65,87,1) 0%, rgba(168,202,186,1) 100%);
	background-attachment: fixed;
}

.site-header {
	height: 50%;
	position: relative;
	padding: 1em;
	font-family: $font__main;
	color: $color__text-header;
	display: flex;
  justify-content: space-between;
  align-items: center;
	flex-direction: column;

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	min-height: 65px;
	height: 80%;
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.site-title {
	margin: 0;
	padding: 0;
	line-height: 200%;

	a {
		color: $color__text-header;
		text-decoration: none;
		font-size: ms(4);
		font-family: $font__headings;
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 200;
  font-size: ms(0);
}

.site-header__menus {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	width: 100%;
}

.main-navigation {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	align-items: center;
}

#masthead-menu {
	display: flex;
	flex-direction: column;
	li {
		list-style-type: none;
	}
}

.social-links-menu {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 1em 0em;
	li {
		list-style-type: none;
		text-decoration: none;
	}
	svg {
		height: ms(1);
    width: ms(1);
	}
	a {
		transition: all 0.3s ease;
		text-decoration: none;
		display: flex;
    flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: .1em 1em;
		width: 60px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
		.social-links-menu--hidden-text {
			display: none;
		}
		@media screen and (min-width: $query__medium) {
			&:hover {
				width: 150px;
			}
			&:hover .social-links-menu--hidden-text {
				display: inline;
			}
		.social-links-menu--hidden-text {
			display: none;
			padding-left: 1em;
			text-transform: uppercase;
			font-size: ms(-3);
			letter-spacing: 0.15rem;
			}
		}
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		flex-direction: column;
	}

  .site-branding {
    width: 35%;
  }

  .main-navigation {
		flex-direction: row;
		justify-content: flex-start;
  }

	#masthead-menu {
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex: 1 0 33.333%;
		  box-sizing: border-box;
		  padding: 10px;
		}
	}
	.site-header__menus {
		flex-direction: row;
		align-items: flex-end;
	}
}
