.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__main;
	color: $color__text-main;
	animation: colorchange 50s infinite ease;

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

@keyframes colorchange {
    0%   {background: #D3C1C3;}
    25%  {background: #848C8E;}
    50%  {background: #EEE5BF;}
    75%  {background: #CEEAF7;}
    100% {background: #D1FFC6;}
  }

.site-branding {
	min-height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-weight: 800;
	line-height: 1em;

	a {
		color: $color__text-main;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 200;
  font-size: ms(-1);
}

#masthead-menu {
	display: flex;
	flex-direction: column;
	li {
		list-style: none;
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		flex-direction: column;
	}

  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .site-branding {
    width: 35%;
  }

  .site-navigation {
    width: 55%;
  }

	#masthead-menu {
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex: 1 0 33.333%;
		  box-sizing: border-box;
		  padding: 10px;
		}
	}
}
