$color__skin: colorchange;

$color__background-body: #FBFCFF;
$color__background-screen: #FBFCFF;
$color__background-hr: #ccc;
$color__background-button: #5D4157;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #A8CABA;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #404040;
$color__link-hover: #5D4157;
$color__text-header: #02848e;
$color__text-main: #0B132B;

$color__button: #1D6CB4;
$color__button-hover: #ccc #bbb #aaa;
$color__button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__orange: rgba(229, 143, 101, 0.9);
$color__yellow: rgba(249, 231, 132,0.9);
$color__red: rgba(208, 83, 83, 0.9);
