a {
	color: $color__link;
	transition: all 0.5s ease;
	text-decoration: none;

	&:visited {
	}
	&:hover,
	&:focus,
	&:active {
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
