/* Large header menu. */
.main-navigation {
	clear: both;
	display: flex;
	justify-content: center;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background: $color__background-body;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-size: ms(-2);
		letter-spacing: 0.15rem;

		&::after {
			content: '';
	    display: block;
	    width: 0;
	    height: 2px;
	    background: $color__text-main;
	    transition: width .3s;
		}
		&:hover::after {
	    width: 100%;
		}
	}

	.children {
		li:hover {
			background-color: $color__background-button;
		}
		a::after {
			height: 0px;
		}
	}

	.current_page_item a,
	.current-menu-item a,
	.current_page_ancestor a,
	.current-menu-ancestor a {
		border-bottom: 2px solid $color__text-main;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
