/* Large header menu. */
.main-navigation {
	clear: both;
	display: flex;
	align-items:  flex-end;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background: $color__background-body;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: ms(0);
		font-weight: 600;
		color: $color__text-header;

		&:hover {
			font-weight: 800;
		}

	}

	.current_page_item a,
	.current-menu-item a,
	.current_page_ancestor a,
	.current-menu-ancestor a {
		border-bottom: 2px solid $color__text-header;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
}

.menu-toggle {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 60%;
	background: none;
	border: none;
	outline: none;
}

.menu-toggle .icon-bar {
  color: $color__text-header;
	height: 3px;
	margin-top: 4px;
}

.menu-toggle { height: 50px; width: 50px; border-radius: 0;z-index: 1}
.menu-toggle .icon-bar { width: 28px; background: $color__text-header;transition: .5s ease;}
.menu-toggle .icon-bar:nth-child(1){transform: rotate(0)translateY(0)translateX(0);}
.menu-toggle .icon-bar:nth-child(2){opacity:1}
.menu-toggle .icon-bar:nth-child(3){transform:rotate(0)translateY(0)translateX(0);}
.toggled .menu-toggle .icon-bar:nth-child(1){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.toggled .menu-toggle .icon-bar:nth-child(2){opacity: 0}
.toggled .menu-toggle .icon-bar:nth-child(3){transform:rotate(45deg)translateY(-4px)translateX(-3px);}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		flex-direction: row;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
